body {
    justify-content: center;
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: black;
}
.hidden{
    display: none;
}
#h{
    float: left;
    font-size: 4em;
    line-height: 1;
    margin-right: .6rem;
}
#start{
    width: 150vh;
    height: 100vh;
    text-align: justify;
    margin: auto;
    position: relative;
    color: white;
    font-size: 20px; 
    letter-spacing: 1px;
}
#foto{
    height: 650px;
    width: 650px;
    float: left;
    background-image: url("../assets/fondoStart.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    border-radius: 10px;
}
#panel{
    float: right;
    width: 550px;
    text-align: center;
    justify-content: center;
}
#title{
    color:#bc9b59;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    display: block;
    letter-spacing: 20px;
    margin: 20px;
}
p{
    text-align: justify;
    margin: 12px;
}
#input{
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 100px;
}
#buttonStart{
    width: 25vh;
    height: 60px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
    background-image: linear-gradient(180deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
    border: #2b2922;
    margin: 10px;
}
#buttonStart:hover{
    background-image: linear-gradient(90deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
}
#flechas{
    width: 25vh;
    margin: 0;
    border-radius: 10px;
}
#map {
    width: 1200px;
    height: 800px;
    /* background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    background-image: url("../assets/bg.png");
    margin: auto;
    position: relative;
    border-radius: 10px;
}
#info {
    margin: auto;
    text-align: center;
}
#timer {
    float: right;
    width: 200px;
    height: 200px;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alfa Slab One', serif;
    color: #bc9b59;
    z-index: 1;
    background-image: url("../assets/time.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#player {
    background-image: url("../assets/player.png");
    width: 87px;
    height: 100px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.enemy{
    background-image: url("../assets/enemy.png");
    width: 67px;
    height: 110px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
.treasure {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("../assets/treasure.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.clue-cheat{
    position: absolute;
    width: 60px;
    height: 100px;
    background-image: url("../assets/pista-trampa.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#winScreen{
    padding-top: 200px;
    position:absolute;
    margin: 0 auto;
    width: 90vw;
    height: 75vh;
    background-color: black;
    text-align: center;
    /*top: 100px;
    left: 105px;*/
    border-radius: 10px;
    letter-spacing: 2px;
    /*background-image: linear-gradient(180deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);*/
    border: #2b2922;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
#textWin{
    font-size: 50px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    color: #bc9b59;
    display: block;
}
#medal{
    width: 150px;
    height: 150px;
    background-image: url("../assets/medal-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 20px;
}

#buttonReset{
    width: 10%;
    height: 60px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    background-image: linear-gradient(180deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
    border: #2b2922;
    position: absolute;
    margin: 20px;
}
#buttonReset:hover {
    background-image: linear-gradient(90deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
}
#playerImage{
    background-image: url("../assets/player.png");
    width: 174px;
    height: 200px;
   /* position: absolute;*/
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}