body {
    justify-content: center;
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: black;
}
.hidden{
    display: none;
}
#h{
    float: left;
    font-size: 4em;
    line-height: .7;
    margin-right: .6rem;
}
#start{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    color: white;
    font-size: 20px; 
    letter-spacing: 1px;
}
#foto{
    height: 69vh;
    width: 30vw;
    margin-left: 15vw;
    background-image: url("../assets/fondoStart.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    border-radius: 10px;
}
#bad{
    width: 25vw;
    /*height: 10px;*/
}
#bad1{
    background-image: url("../assets/enemy2.png");
    width: 4vw;
    height: 14vh;
    display: inline-block;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
#bad2{
    width: 5vw;
    height: 14vh;
    background-image: url("../assets/pista-trampa.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0;

}

#panel{
    width: 30vw;
    height: 50vh;
    text-align: center;
    justify-content: center;
    display: inline-block;
    float: right;
    font-size: 1vw;
    margin-right: 15vw;
}
#title{
    color:#bc9b59;
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    display: block;
    letter-spacing: 20px;
    margin: 20px;
}
p{
    text-align: justify;
    margin: 0;
}
#input{
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 100px;
}
#buttonStart{
    width: 25vh;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
    background-image: linear-gradient(180deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
    border: #2b2922;
    margin: 10px;
}
#buttonStart:hover{
    background-image: linear-gradient(90deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
}
#flechas{
    width: 25vh;
    margin: 5px;
    border-radius: 10px;
}
#map {
    width: 1200px;
    height: 800px;
    /* background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
    background-image: url("../assets/bg.png");
    margin: auto;
    position: relative;
    border-radius: 10px;
}
#info {
    margin: auto;
    text-align: center;
}
#timer {
   /* float: right;*/
    width: 200px;
    height: 200px;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alfa Slab One', serif;
    color: #bc9b59;
    z-index: 1;
    background-image: url("../assets/time.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#player {
    background-image: url("../assets/player.png");
    width: 87px;
    height: 100px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.enemy{
    background-image: url("../assets/enemy2.png");
    width: 67px;
    height: 110px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
.treasure {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("../assets/treasure.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}
#lives-wrapper {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.heart {
    width: 50px;
    height: 50px;
    background-image: url("../assets/heart.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.clue-cheat{
    position: absolute;
    width: 60px;
    height: 100px;
    background-image: url("../assets/pista-trampa.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#winScreen{
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
    /*top: 100px;
    left: 105px;*/
    border-radius: 10px;
    letter-spacing: 2px;
    /*background-image: linear-gradient(180deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);*/
    border: #2b2922;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
#textWin{
    font-size: 5vw;
    padding: 2vw;
    margin: 2vw;
    text-align: center;
    color: #bc9b59;
    display: block;
}
#medal{
    width: 10vw;
    height: 10vh;
    background-image: url("../assets/medal-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 20px;
}

#buttonReset{
    width: 10vw;
    height: 60px;
    border-radius: 10px;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 3px;
    background-image: linear-gradient(180deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
    border: #2b2922;
    position: absolute;
    margin: 20px;
}
#buttonReset:hover {
    background-image: linear-gradient(90deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
}
#playerImage{
    background-image: url("../assets/player.png");
    width: 174px;
    height: 200px;
   /* position: absolute;*/
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
#gameOverScreen{
    padding-top: 200px;
    position: absolute;
    margin: 0 auto;
    width: 90vw;
    height: 75vh;
    background-color: black;
    text-align: center;
    /*top: 100px;
    left: 105px;*/
    border-radius: 10px;
    letter-spacing: 2px;
    /*background-image: linear-gradient(180deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);*/
    border: #2b2922;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
#textGameOver{
    font-size: 50px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    color: #bc9b59;
    display: block;
}
#buttonTryAgain {
    width: 20%;
    height: 60px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    background-image: linear-gradient(180deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
    border: #2b2922;
    position: absolute;
    margin: 20px;
}

#buttonTryAgain:hover {
    background-image: linear-gradient(90deg, #5a5227 0%, #caba7d 50%, #2b2922 100%);
}
#compass {
    height: 200px;
    width: 200px;
}

#compass-color {
    width: 150px;
    height: 150px;
    margin:  auto;
    border-radius: 50%;
    background-image: url('../assets/Brújula.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#compass-color2 {
    width: 7vw;
    height: 13vh;
    margin: 0;
    background-image: url('../assets/Brújula.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;

}