body {
    justify-content: center;
    margin: 0;
    height: 100vh;
    display: flex;
}

#map {
    width: 1200px;
    height: 800px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    margin: auto;
    position: relative;
}
#timer {
    position: absolute;
    top: 0px;
    left: 300px;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alfa Slab One', serif;
    color: black;
    z-index: 1;
}
#player {
    background-image: url("../assets/player.png");
    width: 50px;
    height: 50px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.enemy{
    background-image: url("../assets/enemy.png");
    width: 60px;
    height: 60px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}